<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html"/>
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html"/>
<dom-module id="component-whiteboard">
    <template>
        <paper-header-panel class="flex" id="whiteboard">
            <div class="paper-header">Brainstorming</div>
            <div class="style-scope paper-header-panel" id="board"></div>
        </paper-header-panel>
    </template>

    <script>
        Polymer({
            is : "component-whiteboard"
        });
    </script>
</dom-module>