#board {
    height : 700px;
}

#textBox {
    position : absolute;
    display : none;
    width : 100px;
    z-index : 100;
}

#canvas {
}

#whiteboard {
    left: 0px;
    height: 715px;
    position: absolute;
    width: 100%;
}

#connection {
    display : none;
}

paper-header-panel {       
    margin: 12px;
    width: 1400px;
    @apply(--shadow-elevation-2dp);
}

.paper-header {
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    padding: 0 10px;
    color: white;
}

.blue .paper-header {
    background-color: var(--paper-light-blue-500);
}

.green .paper-header {
    background-color: var(--paper-green-500);
}


.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
}