#board {
    height : 700px;
}

#textBox {
    position : absolute;
    display : none;
    width : 100px;
    z-index : 100;
}

#canvas {
	border:1px solid black;
}

#whiteboard {
    left: 0px;
    height: 100%;
    position: absolute;
    width: 100%;
}

#connection {
    display : none;
}

#whiteboard .paper-header {
    background-color:#03a9f4;
}