<!--
Composant représente le "whiteboard" côté serveur avec la liste des utilisateurs
-->
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html"/>
<link rel="import" href="../../../bower_components/paper-header-panel/paper-header-panel.html"/>
<link rel="import" href="./whiteboard-canvas.html"/>

<script src="../../../bower_components/qrcode.js/qrcode.js"></script>

<dom-module id="whiteboard-main">
    <link rel="import" type="css" href="style.css">
    <template>
        <!--
            Partie representant le white board
        -->
        <div id="whiteboard" class="layout horizontal">
            <paper-header-panel class="blue .board">
                <div class="paper-header">Brainstorming</div>
                <div class="style-scope paper-header-panel" >
                    <whiteboard-canvas/>
                </div>
            </paper-header-panel>
            <div id="userColumn">
                <paper-header-panel id="userList" class="green">
                    <div class="paper-header">Utilisateurs</div>
                    <paper-listbox selected="1" class="style-scope paper-header-panel">
                        <template is="dom-repeat" items="{{users}}" as="user">
                            <paper-icon-item>
                                <!-- style$ pour pouvoir mixer du texte avec du data binding -->
                                <div class="avatar" style$="background-color:{{user.color}}" item-icon></div>{{user.name}}
                            </paper-icon-item>
                        </template>
                    </paper-listbox>
                </paper-header-panel>
                <div id="qrcodeUser"></div>
            </div>
        </div>
    </template>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        Polymer({
            currentMousePos: {
                x : 0,
                y : 0
            },
            canvas: null,
            socket: null,
            getMousePos : function (canvas, evt) {
                var rect = canvas.getBoundingClientRect();
                console.log(rect);
                return {
                    x: evt.clientX - rect.left,
                    y: evt.clientY - rect.top
                };
            },
            updateUsers : function(users) {
                // on l'initialisation est déjà réalisé pour ce client, la prochaine fois on ne veut pas le faire
                if(users){
                    for(var key in users) {
                        this.addUser(users[key].name, users[key].color);
                    }
                }

            },
            //permet d'ajouter un utilisateur à la liste
            addUser : function(name, color) {
                if(!this.users){
                    this.users = [];
                }
                this.push('users',{name : name, color : color});
            },
            //permet de supprimer un utilisateur à la liste
            removeUser : function(name) {
                if(this.users){
                    for(var i = 0 ; i< this.users.length ; i++){
                        if(this.users[i].name == name) {
                            this.splice("users", i, 1);
                            break;
                        }
                    }
                }
            },
            //Event au moment où notre composant est pret à être utilisé
            ready : function(e) {
                this.socket = io();
                new QRCode("qrcodeUser", {text : document.location.origin+"/app/whiteboardUser.html", width : 130, height : 130  });
                var self = this;
                //Ecoute de l'évent adduser pour ajouter un utilisateur à la liste
                this.socket.on('adduser', function(msg){
                    self.addUser(msg.username, msg.color)
                });
                var randomID = Math.random();
                //On demande au serveur les messages courant de manière à initialiser le canvas à
                this.socket.emit('initUsers',{counter : randomID});
                this.socket.on('initUsers'+randomID, function(msg){
                    self.updateUsers(msg.users)
                });
                //Ecoute de l'évent removeuser pour supprimer un utilisateur à la liste
                this.socket.on('removeuser', function(msg){
                    self.removeUser(msg.username)
                });

            }
        });
    </script>
</dom-module>